@font-face {
font-family: 'Milkshake';
font-style: normal;
font-weight: lighter;
src: url('../fonts/Milkshake.ttf') format('opentype');
}
body {
	font-family: "Milkshake";
	background-color: white;
	color: white;
	font-size: 16px;
	text-align: center;
	background-image: 
}
div#fredimage {
	margin: 0 auto;
	background-image: url("../images/fredimage0.jpg");
	background-repeat: no-repeat;
	background-size: 100%;	
    width: 1184px;
    height: 889px;
}
div#quote{
	margin: 0 auto;
	text-align: center;
	width: 455px;
	height: 181px;
	position: relative;
	top: 317px;
	left: -220px;
	color: black;


}
div#buttons {
	margin: 0 auto;
	text-align: center;
	width: 1200px;
	height: 60px;
	position: relative;
	top:644px;
}
.button {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  color: #1a041a;
  font-size: 18px;
  background: #dddfe0;
  padding: 11px 36px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background: #a1a2a4;
  text-decoration: none;
}